## ========================================
## System files
## ========================================
.DS_Store
*/.DS_Store

## ========================================
## VScode files
## ========================================
#*.Rproj
#.Rproj.user

## ========================================
## Package development
## ========================================
##_pkgdown.yml
venv/
.venv/
env/
pybrsa.egg-info/
__pycache__/
*.py[cod]
*$py.class
.Python


## ========================================
## Build outputs
## ========================================
notes/
exos/

## ========================================
## Personal helper scripts
## ========================================
[Mm]akefile
_create_*
_update_*
